// These colors are specific to the theme. Do not use in a package!

//Comments, plain text, line numbers
@very-light-gray: #9b836a;
@light-gray: #624e3b;
// current line highlight = @gray
@gray: #352b22;
//gutter background = @dark-gray
@dark-gray: #28211a;
// code area background = @very-dark-gray
@very-dark-gray: #1f1913;

@cyan: #446675;
@blue: #40796b;
@purple: #6a7c02;
@green: #93a14a;
@red: #a55027;
@orange: #a56b32;
@light-orange: #b5a163;
